* {
  font-family: "Ubuntu", sans-serif;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

 .navbar {
  background-image: linear-gradient(
    to left,
    #cfdee7,
    #92b4f4,
    #5e7ce2,
    #4472ca,
    #0a369d
  );
} 

.navbar-toggler-icon{
  border: 0;
}